* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.showtitle, .showp {
    color: white;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    gap: 30px;
}

.showcase {
    display: flex;
    background: #1F2937;
    padding: 82px 0px;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.showleft {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex-grow: 0;
    flex-shrink: 0;
}

.showtitle {
    font-size: 38px;
    font-weight: 900;
}

.showp {
    font-size: 18px;
}

button {
    width: 100px;
    height: 40px;
    background: #3882F6;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.servicetitle {
    display: flex;
    justify-content: center;
    font-size: 33px;
    font-weight: 800;
    padding: 30px;
    margin-bottom: 20px;
}

.offerimg {
    width: 180px;
    height: 180px;
    border-radius: 8px;
}

.offers {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    margin-bottom: 60px;
}

.offer1 {
    max-width: 200px;
}

.infotitle {
    font-size: 21px;
    font-weight: 500;
    padding: 8px;
}

.info {
    font-size: 13px;
    font-weight: 100;
    padding: 3px;
}

.inspirequote {
    display: flex;
    background: rgb(221, 221, 221);
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.quote {
    font-size: 18px;
    max-width: 800px;
    font-style: italic;
}

.author {
    font-weight: 700;
    padding: 20px;
    margin-left: 540px;
}

.dosomething {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.bluebox {
    background: #3882F6;
    padding: 20px 260px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.makemeleft {
    color: white;
    max-width: 250px;
}

.makeme {
    font-weight: 700;
}

button.buttonright {
    border: white;
    background-color: #3882F6;
}