* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    gap: 30px;
}

.showcase {
    display: flex;
    background: #1F2937;
    padding: 90px 0px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.showleft {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.showtitle {
    font-size: 28px;
    font-weight: 900;
}

.showp {
    font-size: 18px;
}

button {
    width: 100px;
    height: 40px;
    background: #3882F6;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

img {
    border-radius: 5%;
}