* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 5px;
}

.showcase {
    display: flex;
    flex: 1;
    background: #1F2937;
}

.logo {
    display: flex;
}


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    gap: 30px;
}